@using BotDetect.Web.Mvc
@model OnlineShop.Web.Models.FeedbackViewModel
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section EndScript
{
    <script src="~/Assets/Admin/libs/jquery-validation/dist/jquery.validate.js"></script>


    <script>
        $("#frm-feedback").validate({
            rules: {
                txt_name: {
                    required: true,
                    minlength: 5
                },
                txt_email: {
                    required: true,
                    email: true
                },
                txt_message: {
                    required: true
                }
            },
            messages: {
                txt_name: {
                    required: 'Vui lòng nhập họ tên !',
                    minlength: 'Tối đa 5 kí tự',
                },
                txt_email: {
                    required: 'Vui lòng nhập email !',
                    email: 'Email không hợp lệ !'

                },
                txt_message: {
                    required: 'Vui lòng nhập tin nhắn !'
                }
            }
        });

        $("#btn-feedback").click(function () {
            debugger;
            if ($("#frm-feedback").valid()) {
                $("#frm-feedback").submit();
            }

        });
    </script>
}

<style>
    #map {
        height: 400px;
    }

    .error {
        color: red;
        font-style: italic;
        font-weight: normal;
    }
</style>

<div class="main">
    <div class="reservation_top">
        @{
            Html.RenderAction("_ContactDetailPartial" , "Contact");
        }
    </div>

    <div class="reservation_top">
        <div class="contact_right">
            <h3>Liên hệ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("Index" , "Contact" , FormMethod.Post , new { id = "frm-feedback" }))
                {
                    if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>@TempData["SuccessMsg"]</strong>
                        </div>
                    }
                    @Html.ValidationSummary(false , "" , new { @class = "error" })
                    <label>Họ và tên: </label>
                    @Html.TextBoxFor(x => x.Name , new { @class = "" })

                    <label>Email: </label>
                    @Html.TextBoxFor(x => x.Email , new { @class = "" })

                    <label>Tin nhắn: </label>
                    @Html.TextAreaFor(x => x.Message , new { @class = "" })

                    @Html.HiddenFor(x => x.CreatdDate , new { @class = "" })
                    @Html.HiddenFor(x => x.Status , new { @class = "" })

                    MvcCaptcha contactCaptcha = new MvcCaptcha("ContactCaptcha");
                    @Html.Captcha(contactCaptcha)
                    @Html.TextBox("CaptchaCode")


                    <div>
                        <input type="button" id="btn-feedback" value="Send">
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
</div>