<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Admin/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/Admin/libs/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
    <!--theme-style-->
    <link href="../../Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../../Assets/Client/css/etalage.css" type="text/css" media="all" />
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--script-->
    <script src="../../Assets/Client/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
</head>
<body>
    <!--header-->
    <div class="header">
        @{
            Html.RenderAction("_HeaderPartial" , "Home");
        }
    </div>
    <!-- container -->
    <div class="container">
        @RenderBody()
        @* category *@
        @{
            Html.RenderAction("_CategoriesPartial" , "Home");
        }
        <div class="clearfix"></div>
    </div>
    <!-- footer -->
    <div class="footer">
        @{
            Html.RenderAction("_FooterPartial", "Home");
        }
    </div>

    <script>
        $('#txt-keyword').autocomplete({
            minLength: 0,
            source: function (request, response) {
                // Lấy datasources
                $.ajax({
                    url: "@Url.Action("GetListNameOfProduct","Product")",
                    dataType: "json",
                    data: {
                        keyword: request.term
                    },
                    success: function (data) {
                        response(data.data);
                    }
                });
            },
            focus: function (event, ui) {
                $("#txt-keyword").val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $("#txt-keyword").val(ui.item.label);
                return false;
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };

    </script>
    <script src="~/Assets/Admin/libs/mustache.js/mustache.js"></script>
    <script type="text/javascript" src="../../Assets/Client/js/jquery.flexisel.js"></script>
    <script src="~/Assets/Client/js/shoppingCart.js"></script>
    @RenderSection("EndScript", false)
</body>
</html>